[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "app/themes/hugo-refresh"]
	path = app/themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
