<script>
    // LGA
    const LGA = [
        {'lga_id': '10050', 'lga_name': 'Albury - NSW'},
        {'lga_id': '10130', 'lga_name': 'Armidale Regional - NSW'},
        {'lga_id': '10180', 'lga_name': 'Armidale Regional - NSW'},
        {'lga_id': '10250', 'lga_name': 'Ballina - NSW'},
        {'lga_id': '10300', 'lga_name': 'Balranald - NSW'},
        {'lga_id': '10470', 'lga_name': 'Bathurst Regional - NSW'},
        {'lga_id': '10500', 'lga_name': 'Bayside - NSW'},
        {'lga_id': '10550', 'lga_name': 'Bega Valley - NSW'},
        {'lga_id': '10600', 'lga_name': 'Bellingen - NSW'},
        {'lga_id': '10650', 'lga_name': 'Berrigan - NSW'},
        {'lga_id': '10750', 'lga_name': 'Blacktown - NSW'},
        {'lga_id': '10800', 'lga_name': 'Bland - NSW'},
        {'lga_id': '10850', 'lga_name': 'Blayney - NSW'},
        {'lga_id': '10900', 'lga_name': 'Blue Mountains - NSW'},
        {'lga_id': '10950', 'lga_name': 'Bogan - NSW'},
        {'lga_id': '11150', 'lga_name': 'Bourke - NSW'},
        {'lga_id': '11200', 'lga_name': 'Brewarrina - NSW'},
        {'lga_id': '11250', 'lga_name': 'Broken Hill - NSW'},
        {'lga_id': '11300', 'lga_name': 'Burwood - NSW'},
        {'lga_id': '11350', 'lga_name': 'Byron - NSW'},
        {'lga_id': '11400', 'lga_name': 'Cabonne - NSW'},
        {'lga_id': '11450', 'lga_name': 'Camden - NSW'},
        {'lga_id': '11500', 'lga_name': 'Campbelltown - NSW'},
        {'lga_id': '11520', 'lga_name': 'Canada Bay - NSW'},
        {'lga_id': '11570', 'lga_name': 'Canterbury-Bankstown - NSW'},
        {'lga_id': '11600', 'lga_name': 'Carrathool - NSW'},
        {'lga_id': '11650', 'lga_name': 'Central Coast - NSW'},
        {'lga_id': '11700', 'lga_name': 'Central Darling - NSW'},
        {'lga_id': '11720', 'lga_name': 'Cessnock - NSW'},
        {'lga_id': '11730', 'lga_name': 'Clarence Valley - NSW'},
        {'lga_id': '11750', 'lga_name': 'Cobar - NSW'},
        {'lga_id': '11800', 'lga_name': 'Coffs Harbour - NSW'},
        {'lga_id': '12000', 'lga_name': 'Coolamon - NSW'},
        {'lga_id': '12150', 'lga_name': 'Coonamble - NSW'},
        {'lga_id': '12160', 'lga_name': 'Cootamundra-Gundagai Regional - NSW'},
        {'lga_id': '12350', 'lga_name': 'Cowra - NSW'},
        {'lga_id': '12380', 'lga_name': 'Cumberland - NSW'},
        {'lga_id': '12390', 'lga_name': 'Dubbo Regional - NSW'},
        {'lga_id': '12700', 'lga_name': 'Dungog - NSW'},
        {'lga_id': '12730', 'lga_name': 'Edward River - NSW'},
        {'lga_id': '12750', 'lga_name': 'Eurobodalla - NSW'},
        {'lga_id': '12850', 'lga_name': 'Fairfield - NSW'},
        {'lga_id': '12870', 'lga_name': 'Federation - NSW'},
        {'lga_id': '12900', 'lga_name': 'Forbes - NSW'},
        {'lga_id': '12930', 'lga_name': 'Georges River - NSW'},
        {'lga_id': '12950', 'lga_name': 'Gilgandra - NSW'},
        {'lga_id': '13010', 'lga_name': 'Glen Innes Severn - NSW'},
        {'lga_id': '13310', 'lga_name': 'Goulburn Mulwaree - NSW'},
        {'lga_id': '13340', 'lga_name': 'Greater Hume Shire - NSW'},
        {'lga_id': '13450', 'lga_name': 'Griffith - NSW'},
        {'lga_id': '13550', 'lga_name': 'Gunnedah - NSW'},
        {'lga_id': '13660', 'lga_name': 'Gwydir - NSW'},
        {'lga_id': '13800', 'lga_name': 'Hawkesbury - NSW'},
        {'lga_id': '13850', 'lga_name': 'Hay - NSW'},
        {'lga_id': '13910', 'lga_name': 'Hilltops - NSW'},
        {'lga_id': '14000', 'lga_name': 'Hornsby - NSW'},
        {'lga_id': '14100', 'lga_name': 'Hunters Hill - NSW'},
        {'lga_id': '14170', 'lga_name': 'Inner West - NSW'},
        {'lga_id': '14200', 'lga_name': 'Inverell - NSW'},
        {'lga_id': '14220', 'lga_name': 'Inverell - NSW'},
        {'lga_id': '14300', 'lga_name': 'Junee - NSW'},
        {'lga_id': '14350', 'lga_name': 'Kempsey - NSW'},
        {'lga_id': '14400', 'lga_name': 'Kiama - NSW'},
        {'lga_id': '14500', 'lga_name': 'Ku-ring-gai - NSW'},
        {'lga_id': '14550', 'lga_name': 'Kyogle - NSW'},
        {'lga_id': '14600', 'lga_name': 'Lachlan - NSW'},
        {'lga_id': '14650', 'lga_name': 'Lake Macquarie - NSW'},
        {'lga_id': '14700', 'lga_name': 'Lane Cove - NSW'},
        {'lga_id': '14750', 'lga_name': 'Leeton - NSW'},
        {'lga_id': '14850', 'lga_name': 'Lismore - NSW'},
        {'lga_id': '14870', 'lga_name': 'Lithgow - NSW'},
        {'lga_id': '14900', 'lga_name': 'Liverpool - NSW'},
        {'lga_id': '14920', 'lga_name': 'Liverpool Plains - NSW'},
        {'lga_id': '14950', 'lga_name': 'Lockhart - NSW'},
        {'lga_id': '15050', 'lga_name': 'Maitland - NSW'},
        {'lga_id': '15240', 'lga_name': 'Mid-Coast - NSW'},
        {'lga_id': '15270', 'lga_name': 'Mid-Western Regional - NSW'},
        {'lga_id': '15300', 'lga_name': 'Moree Plains - NSW'},
        {'lga_id': '15350', 'lga_name': 'Mosman - NSW'},
        {'lga_id': '15520', 'lga_name': 'Murray River - NSW'},
        {'lga_id': '15560', 'lga_name': 'Murrumbidgee - NSW'},
        {'lga_id': '15650', 'lga_name': 'Muswellbrook - NSW'},
        {'lga_id': '15700', 'lga_name': 'Nambucca - NSW'},
        {'lga_id': '15750', 'lga_name': 'Narrabri - NSW'},
        {'lga_id': '15800', 'lga_name': 'Narrandera - NSW'},
        {'lga_id': '15850', 'lga_name': 'Narromine - NSW'},
        {'lga_id': '15900', 'lga_name': 'Newcastle - NSW'},
        {'lga_id': '15950', 'lga_name': 'North Sydney - NSW'},
        {'lga_id': '15990', 'lga_name': 'Northern Beaches - NSW'},
        {'lga_id': '16100', 'lga_name': 'Oberon - NSW'},
        {'lga_id': '16150', 'lga_name': 'Orange - NSW'},
        {'lga_id': '16200', 'lga_name': 'Parkes - NSW'},
        {'lga_id': '16260', 'lga_name': 'Parramatta - NSW'},
        {'lga_id': '16350', 'lga_name': 'Penrith - NSW'},
        {'lga_id': '16380', 'lga_name': 'Port Macquarie-Hastings - NSW'},
        {'lga_id': '16400', 'lga_name': 'Port Stephens - NSW'},
        {'lga_id': '16490', 'lga_name': 'Queanbeyan-Palerang Regional - NSW'},
        {'lga_id': '16550', 'lga_name': 'Randwick - NSW'},
        {'lga_id': '16610', 'lga_name': 'Richmond Valley - NSW'},
        {'lga_id': '16700', 'lga_name': 'Ryde - NSW'},
        {'lga_id': '16900', 'lga_name': 'Shellharbour - NSW'},
        {'lga_id': '16950', 'lga_name': 'Shoalhaven - NSW'},
        {'lga_id': '17000', 'lga_name': 'Singleton - NSW'},
        {'lga_id': '17040', 'lga_name': 'Snowy Monaro Regional - NSW'},
        {'lga_id': '17080', 'lga_name': 'Snowy Valleys - NSW'},
        {'lga_id': '17100', 'lga_name': 'Strathfield - NSW'},
        {'lga_id': '17150', 'lga_name': 'Sutherland Shire - NSW'},
        {'lga_id': '17200', 'lga_name': 'Sydney - NSW'},
        {'lga_id': '17310', 'lga_name': 'Tamworth Regional - NSW'},
        {'lga_id': '17350', 'lga_name': 'Temora - NSW'},
        {'lga_id': '17400', 'lga_name': 'Tenterfield - NSW'},
        {'lga_id': '17420', 'lga_name': 'The Hills Shire - NSW'},
        {'lga_id': '17550', 'lga_name': 'Tweed - NSW'},
        {'lga_id': '17620', 'lga_name': 'Upper Hunter Shire - NSW'},
        {'lga_id': '17640', 'lga_name': 'Upper Lachlan Shire - NSW'},
        {'lga_id': '17650', 'lga_name': 'Uralla - NSW'},
        {'lga_id': '17750', 'lga_name': 'Wagga Wagga - NSW'},
        {'lga_id': '17850', 'lga_name': 'Walcha - NSW'},
        {'lga_id': '17900', 'lga_name': 'Walgett - NSW'},
        {'lga_id': '17950', 'lga_name': 'Warren - NSW'},
        {'lga_id': '18020', 'lga_name': 'Warrumbungle Shire - NSW'},
        {'lga_id': '18050', 'lga_name': 'Waverley - NSW'},
        {'lga_id': '18100', 'lga_name': 'Weddin - NSW'},
        {'lga_id': '18200', 'lga_name': 'Wentworth - NSW'},
        {'lga_id': '18250', 'lga_name': 'Willoughby - NSW'},
        {'lga_id': '18350', 'lga_name': 'Wingecarribee - NSW'},
        {'lga_id': '18400', 'lga_name': 'Wollondilly - NSW'},
        {'lga_id': '18450', 'lga_name': 'Wollongong - NSW'},
        {'lga_id': '18500', 'lga_name': 'Woollahra - NSW'},
        {'lga_id': '18710', 'lga_name': 'Yass Valley - NSW'},
        {'lga_id': '19399', 'lga_name': 'Unincorporated NSW'},
        {'lga_id': '19499', 'lga_name': 'No usual address - NSW'},
        {'lga_id': '19799', 'lga_name': 'Migratory - Offshore - Shipping - NSW'},
        {'lga_id': '20110', 'lga_name': 'Alpine - VIC'},
        {'lga_id': '20260', 'lga_name': 'Ararat - VIC'},
        {'lga_id': '20570', 'lga_name': 'Ballarat - VIC'},
        {'lga_id': '20660', 'lga_name': 'Banyule - VIC'},
        {'lga_id': '20740', 'lga_name': 'Bass Coast - VIC'},
        {'lga_id': '20830', 'lga_name': 'Baw Baw - VIC'},
        {'lga_id': '20910', 'lga_name': 'Bayside - VIC'},
        {'lga_id': '21010', 'lga_name': 'Benalla - VIC'},
        {'lga_id': '21110', 'lga_name': 'Boroondara - VIC'},
        {'lga_id': '21180', 'lga_name': 'Brimbank - VIC'},
        {'lga_id': '21270', 'lga_name': 'Buloke - VIC'},
        {'lga_id': '21370', 'lga_name': 'Campaspe - VIC'},
        {'lga_id': '21450', 'lga_name': 'Cardinia - VIC'},
        {'lga_id': '21610', 'lga_name': 'Casey - VIC'},
        {'lga_id': '21670', 'lga_name': 'Central Goldfields - VIC'},
        {'lga_id': '21750', 'lga_name': 'Colac-Otway - VIC'},
        {'lga_id': '21830', 'lga_name': 'Corangamite - VIC'},
        {'lga_id': '21890', 'lga_name': 'Darebin - VIC'},
        {'lga_id': '22110', 'lga_name': 'East Gippsland - VIC'},
        {'lga_id': '22170', 'lga_name': 'Frankston - VIC'},
        {'lga_id': '22250', 'lga_name': 'Gannawarra - VIC'},
        {'lga_id': '22310', 'lga_name': 'Glen Eira - VIC'},
        {'lga_id': '22410', 'lga_name': 'Glenelg - VIC'},
        {'lga_id': '22490', 'lga_name': 'Golden Plains - VIC'},
        {'lga_id': '22620', 'lga_name': 'Greater Bendigo - VIC'},
        {'lga_id': '22670', 'lga_name': 'Greater Dandenong - VIC'},
        {'lga_id': '22750', 'lga_name': 'Greater Geelong - VIC'},
        {'lga_id': '22830', 'lga_name': 'Greater Shepparton - VIC'},
        {'lga_id': '22910', 'lga_name': 'Hepburn - VIC'},
        {'lga_id': '22980', 'lga_name': 'Hindmarsh - VIC'},
        {'lga_id': '23110', 'lga_name': 'Hobsons Bay - VIC'},
        {'lga_id': '23190', 'lga_name': 'Horsham - VIC'},
        {'lga_id': '23270', 'lga_name': 'Hume - VIC'},
        {'lga_id': '23350', 'lga_name': 'Indigo - VIC'},
        {'lga_id': '23430', 'lga_name': 'Kingston - VIC'},
        {'lga_id': '23670', 'lga_name': 'Knox - VIC'},
        {'lga_id': '23810', 'lga_name': 'Latrobe - VIC'},
        {'lga_id': '23940', 'lga_name': 'Loddon - VIC'},
        {'lga_id': '24130', 'lga_name': 'Macedon Ranges - VIC'},
        {'lga_id': '24210', 'lga_name': 'Manningham - VIC'},
        {'lga_id': '24250', 'lga_name': 'Mansfield - VIC'},
        {'lga_id': '24330', 'lga_name': 'Maribyrnong - VIC'},
        {'lga_id': '24410', 'lga_name': 'Maroondah - VIC'},
        {'lga_id': '24600', 'lga_name': 'Melbourne - VIC'},
        {'lga_id': '24650', 'lga_name': 'Melton - VIC'},
        {'lga_id': '24780', 'lga_name': 'Mildura - VIC'},
        {'lga_id': '24850', 'lga_name': 'Mitchell - VIC'},
        {'lga_id': '24900', 'lga_name': 'Moira - VIC'},
        {'lga_id': '24970', 'lga_name': 'Monash - VIC'},
        {'lga_id': '25060', 'lga_name': 'Moonee Valley - VIC'},
        {'lga_id': '25150', 'lga_name': 'Moorabool - VIC'},
        {'lga_id': '25250', 'lga_name': 'Moreland - VIC'},
        {'lga_id': '25340', 'lga_name': 'Mornington Peninsula - VIC'},
        {'lga_id': '25430', 'lga_name': 'Mount Alexander - VIC'},
        {'lga_id': '25490', 'lga_name': 'Moyne - VIC'},
        {'lga_id': '25620', 'lga_name': 'Murrindindi - VIC'},
        {'lga_id': '25710', 'lga_name': 'Nillumbik - VIC'},
        {'lga_id': '25810', 'lga_name': 'Northern Grampians - VIC'},
        {'lga_id': '25900', 'lga_name': 'Port Phillip - VIC'},
        {'lga_id': '25990', 'lga_name': 'Pyrenees - VIC'},
        {'lga_id': '26080', 'lga_name': 'Queenscliffe (B) - VIC'},
        {'lga_id': '26170', 'lga_name': 'South Gippsland - VIC'},
        {'lga_id': '26260', 'lga_name': 'Southern Grampians - VIC'},
        {'lga_id': '26350', 'lga_name': 'Stonnington - VIC'},
        {'lga_id': '26430', 'lga_name': 'Strathbogie - VIC'},
        {'lga_id': '26490', 'lga_name': 'Surf Coast - VIC'},
        {'lga_id': '26610', 'lga_name': 'Swan Hill - VIC'},
        {'lga_id': '26670', 'lga_name': 'Towong - VIC'},
        {'lga_id': '26700', 'lga_name': 'Wangaratta - VIC'},
        {'lga_id': '26730', 'lga_name': 'Warrnambool - VIC'},
        {'lga_id': '26810', 'lga_name': 'Wellington - VIC'},
        {'lga_id': '26890', 'lga_name': 'West Wimmera - VIC'},
        {'lga_id': '26980', 'lga_name': 'Whitehorse - VIC'},
        {'lga_id': '27070', 'lga_name': 'Whittlesea - VIC'},
        {'lga_id': '27170', 'lga_name': 'Wodonga - VIC'},
        {'lga_id': '27260', 'lga_name': 'Wyndham - VIC'},
        {'lga_id': '27350', 'lga_name': 'Yarra - VIC'},
        {'lga_id': '27450', 'lga_name': 'Yarra Ranges - VIC'},
        {'lga_id': '27630', 'lga_name': 'Yarriambiack - VIC'},
        {'lga_id': '29399', 'lga_name': 'Unincorporated Vic'},
        {'lga_id': '29499', 'lga_name': 'No usual address - VIC'},
        {'lga_id': '29799', 'lga_name': 'Migratory - Offshore - Shipping - VIC'},
        {'lga_id': '30250', 'lga_name': 'Aurukun - QLD'},
        {'lga_id': '30300', 'lga_name': 'Balonne - QLD'},
        {'lga_id': '30370', 'lga_name': 'Banana - QLD'},
        {'lga_id': '30410', 'lga_name': 'Barcaldine - QLD'},
        {'lga_id': '30450', 'lga_name': 'Barcoo - QLD'},
        {'lga_id': '30760', 'lga_name': 'Blackall-Tambo - QLD'},
        {'lga_id': '30900', 'lga_name': 'Boulia - QLD'},
        {'lga_id': '31000', 'lga_name': 'Brisbane - QLD'},
        {'lga_id': '31750', 'lga_name': 'Bulloo - QLD'},
        {'lga_id': '31820', 'lga_name': 'Bundaberg - QLD'},
        {'lga_id': '31900', 'lga_name': 'Burdekin - QLD'},
        {'lga_id': '31950', 'lga_name': 'Burke - QLD'},
        {'lga_id': '32080', 'lga_name': 'Cairns - QLD'},
        {'lga_id': '32250', 'lga_name': 'Carpentaria - QLD'},
        {'lga_id': '32260', 'lga_name': 'Cassowary Coast - QLD'},
        {'lga_id': '32270', 'lga_name': 'Central Highlands - QLD'},
        {'lga_id': '32310', 'lga_name': 'Charters Towers - QLD'},
        {'lga_id': '32330', 'lga_name': 'Cherbourg - QLD'},
        {'lga_id': '32450', 'lga_name': 'Cloncurry - QLD'},
        {'lga_id': '32500', 'lga_name': 'Cook - QLD'},
        {'lga_id': '32600', 'lga_name': 'Croydon - QLD'},
        {'lga_id': '32750', 'lga_name': 'Diamantina - QLD'},
        {'lga_id': '32770', 'lga_name': 'Doomadgee - QLD'},
        {'lga_id': '32810', 'lga_name': 'Douglas - QLD'},
        {'lga_id': '33100', 'lga_name': 'Etheridge - QLD'},
        {'lga_id': '33200', 'lga_name': 'Flinders - QLD'},
        {'lga_id': '33220', 'lga_name': 'Fraser Coast - QLD'},
        {'lga_id': '33360', 'lga_name': 'Gladstone - QLD'},
        {'lga_id': '33430', 'lga_name': 'Gold Coast - QLD'},
        {'lga_id': '33610', 'lga_name': 'Goondiwindi - QLD'},
        {'lga_id': '33620', 'lga_name': 'Gympie - QLD'},
        {'lga_id': '33800', 'lga_name': 'Hinchinbrook - QLD'},
        {'lga_id': '33830', 'lga_name': 'Hope Vale - QLD'},
        {'lga_id': '33960', 'lga_name': 'Ipswich - QLD'},
        {'lga_id': '33980', 'lga_name': 'Isaac - QLD'},
        {'lga_id': '34420', 'lga_name': 'Kowanyama - QLD'},
        {'lga_id': '34530', 'lga_name': 'Livingstone - QLD'},
        {'lga_id': '34570', 'lga_name': 'Lockhart River - QLD'},
        {'lga_id': '34580', 'lga_name': 'Lockyer Valley - QLD'},
        {'lga_id': '34590', 'lga_name': 'Logan - QLD'},
        {'lga_id': '34710', 'lga_name': 'Longreach - QLD'},
        {'lga_id': '34770', 'lga_name': 'Mackay - QLD'},
        {'lga_id': '34800', 'lga_name': 'McKinlay - QLD'},
        {'lga_id': '34830', 'lga_name': 'Mapoon - QLD'},
        {'lga_id': '34860', 'lga_name': 'Maranoa - QLD'},
        {'lga_id': '34880', 'lga_name': 'Mareeba - QLD'},
        {'lga_id': '35010', 'lga_name': 'Moreton Bay - QLD'},
        {'lga_id': '35250', 'lga_name': 'Mornington - QLD'},
        {'lga_id': '35300', 'lga_name': 'Mount Isa - QLD'},
        {'lga_id': '35600', 'lga_name': 'Murweh - QLD'},
        {'lga_id': '35670', 'lga_name': 'Napranum - QLD'},
        {'lga_id': '35740', 'lga_name': 'Noosa - QLD'},
        {'lga_id': '35760', 'lga_name': 'North Burnett - QLD'},
        {'lga_id': '35780', 'lga_name': 'Northern Peninsula Area - QLD'},
        {'lga_id': '35790', 'lga_name': 'Palm Island - QLD'},
        {'lga_id': '35800', 'lga_name': 'Paroo - QLD'},
        {'lga_id': '36070', 'lga_name': 'Pormpuraaw - QLD'},
        {'lga_id': '36150', 'lga_name': 'Quilpie - QLD'},
        {'lga_id': '36250', 'lga_name': 'Redland - QLD'},
        {'lga_id': '36300', 'lga_name': 'Richmond - QLD'},
        {'lga_id': '36370', 'lga_name': 'Rockhampton - QLD'},
        {'lga_id': '36510', 'lga_name': 'Scenic Rim - QLD'},
        {'lga_id': '36580', 'lga_name': 'Somerset - QLD'},
        {'lga_id': '36630', 'lga_name': 'South Burnett - QLD'},
        {'lga_id': '36660', 'lga_name': 'Southern Downs - QLD'},
        {'lga_id': '36720', 'lga_name': 'Sunshine Coast - QLD'},
        {'lga_id': '36820', 'lga_name': 'Tablelands - QLD'},
        {'lga_id': '36910', 'lga_name': 'Toowoomba - QLD'},
        {'lga_id': '36950', 'lga_name': 'Torres - QLD'},
        {'lga_id': '36960', 'lga_name': 'Torres Strait Island - QLD'},
        {'lga_id': '37010', 'lga_name': 'Townsville - QLD'},
        {'lga_id': '37300', 'lga_name': 'Weipa - QLD'},
        {'lga_id': '37310', 'lga_name': 'Western Downs - QLD'},
        {'lga_id': '37340', 'lga_name': 'Whitsunday - QLD'},
        {'lga_id': '37400', 'lga_name': 'Winton - QLD'},
        {'lga_id': '37550', 'lga_name': 'Woorabinda - QLD'},
        {'lga_id': '37570', 'lga_name': 'Wujal Wujal - QLD'},
        {'lga_id': '37600', 'lga_name': 'Yarrabah - QLD'},
        {'lga_id': '39499', 'lga_name': 'No usual address - QLD'},
        {'lga_id': '39799', 'lga_name': 'Migratory - Offshore - Shipping - QLD'},
        {'lga_id': '40070', 'lga_name': 'Adelaide - SA'},
        {'lga_id': '40120', 'lga_name': 'Adelaide Hills - SA'},
        {'lga_id': '40150', 'lga_name': 'Adelaide Plains - SA'},
        {'lga_id': '40220', 'lga_name': 'Alexandrina - SA'},
        {'lga_id': '40250', 'lga_name': 'Anangu Pitjantjatjara (AC) - SA'},
        {'lga_id': '40310', 'lga_name': 'Barossa - SA'},
        {'lga_id': '40430', 'lga_name': 'Barunga West - SA'},
        {'lga_id': '40520', 'lga_name': 'Berri and Barmera - SA'},
        {'lga_id': '40700', 'lga_name': 'Burnside - SA'},
        {'lga_id': '40910', 'lga_name': 'Campbelltown - SA'},
        {'lga_id': '41010', 'lga_name': 'Ceduna - SA'},
        {'lga_id': '41060', 'lga_name': 'Charles Sturt - SA'},
        {'lga_id': '41140', 'lga_name': 'Clare and Gilbert Valleys - SA'},
        {'lga_id': '41190', 'lga_name': 'Cleve - SA'},
        {'lga_id': '41330', 'lga_name': 'Coober Pedy - SA'},
        {'lga_id': '41560', 'lga_name': 'Copper Coast - SA'},
        {'lga_id': '41750', 'lga_name': 'Elliston - SA'},
        {'lga_id': '41830', 'lga_name': 'Flinders Ranges - SA'},
        {'lga_id': '41960', 'lga_name': 'Franklin Harbour - SA'},
        {'lga_id': '42030', 'lga_name': 'Gawler - SA'},
        {'lga_id': '42110', 'lga_name': 'Goyder - SA'},
        {'lga_id': '42250', 'lga_name': 'Grant - SA'},
        {'lga_id': '42600', 'lga_name': 'Holdfast Bay - SA'},
        {'lga_id': '42750', 'lga_name': 'Kangaroo Island - SA'},
        {'lga_id': '43080', 'lga_name': 'Karoonda East Murray - SA'},
        {'lga_id': '43220', 'lga_name': 'Kimba - SA'},
        {'lga_id': '43360', 'lga_name': 'Kingston - SA'},
        {'lga_id': '43650', 'lga_name': 'Light (RegC) - SA'},
        {'lga_id': '43710', 'lga_name': 'Lower Eyre Peninsula - SA'},
        {'lga_id': '43790', 'lga_name': 'Loxton Waikerie - SA'},
        {'lga_id': '44000', 'lga_name': 'Maralinga Tjarutja (AC) - SA'},
        {'lga_id': '44060', 'lga_name': 'Marion - SA'},
        {'lga_id': '44210', 'lga_name': 'Mid Murray - SA'},
        {'lga_id': '44340', 'lga_name': 'Mitcham - SA'},
        {'lga_id': '44550', 'lga_name': 'Mount Barker - SA'},
        {'lga_id': '44620', 'lga_name': 'Mount Gambier - SA'},
        {'lga_id': '44830', 'lga_name': 'Mount Remarkable - SA'},
        {'lga_id': '45040', 'lga_name': 'Murray Bridge - SA'},
        {'lga_id': '45090', 'lga_name': 'Naracoorte and Lucindale - SA'},
        {'lga_id': '45120', 'lga_name': 'Northern Areas - SA'},
        {'lga_id': '45290', 'lga_name': 'Norwood Payneham St Peters - SA'},
        {'lga_id': '45340', 'lga_name': 'Onkaparinga - SA'},
        {'lga_id': '45400', 'lga_name': 'Orroroo/Carrieton - SA'},
        {'lga_id': '45540', 'lga_name': 'Peterborough - SA'},
        {'lga_id': '45680', 'lga_name': 'Playford - SA'},
        {'lga_id': '45890', 'lga_name': 'Port Adelaide Enfield - SA'},
        {'lga_id': '46090', 'lga_name': 'Port Augusta - SA'},
        {'lga_id': '46300', 'lga_name': 'Port Lincoln - SA'},
        {'lga_id': '46450', 'lga_name': 'Port Pirie City and Dists - SA'},
        {'lga_id': '46510', 'lga_name': 'Prospect - SA'},
        {'lga_id': '46670', 'lga_name': 'Renmark Paringa - SA'},
        {'lga_id': '46860', 'lga_name': 'Robe - SA'},
        {'lga_id': '46970', 'lga_name': 'Roxby Downs - SA'},
        {'lga_id': '47140', 'lga_name': 'Salisbury - SA'},
        {'lga_id': '47290', 'lga_name': 'Southern Mallee - SA'},
        {'lga_id': '47490', 'lga_name': 'Streaky Bay - SA'},
        {'lga_id': '47630', 'lga_name': 'Tatiara - SA'},
        {'lga_id': '47700', 'lga_name': 'Tea Tree Gully - SA'},
        {'lga_id': '47800', 'lga_name': 'The Coorong - SA'},
        {'lga_id': '47910', 'lga_name': 'Tumby Bay - SA'},
        {'lga_id': '47980', 'lga_name': 'Unley - SA'},
        {'lga_id': '48050', 'lga_name': 'Victor Harbor - SA'},
        {'lga_id': '48130', 'lga_name': 'Wakefield - SA'},
        {'lga_id': '48260', 'lga_name': 'Walkerville - SA'},
        {'lga_id': '48340', 'lga_name': 'Wattle Range - SA'},
        {'lga_id': '48410', 'lga_name': 'West Torrens - SA'},
        {'lga_id': '48540', 'lga_name': 'Whyalla - SA'},
        {'lga_id': '48640', 'lga_name': 'Wudinna - SA'},
        {'lga_id': '48750', 'lga_name': 'Yankalilla - SA'},
        {'lga_id': '48830', 'lga_name': 'Yorke Peninsula - SA'},
        {'lga_id': '49399', 'lga_name': 'Unincorporated SA'},
        {'lga_id': '49499', 'lga_name': 'No usual address - SA'},
        {'lga_id': '49799', 'lga_name': 'Migratory - Offshore - Shipping - SA'},
        {'lga_id': '50080', 'lga_name': 'Albany - WA'},
        {'lga_id': '50210', 'lga_name': 'Armadale - WA'},
        {'lga_id': '50250', 'lga_name': 'Ashburton - WA'},
        {'lga_id': '50280', 'lga_name': 'Augusta-Margaret River - WA'},
        {'lga_id': '50350', 'lga_name': 'Bassendean - WA'},
        {'lga_id': '50420', 'lga_name': 'Bayswater - WA'},
        {'lga_id': '50490', 'lga_name': 'Belmont - WA'},
        {'lga_id': '50560', 'lga_name': 'Beverley - WA'},
        {'lga_id': '50630', 'lga_name': 'Boddington - WA'},
        {'lga_id': '50770', 'lga_name': 'Boyup Brook - WA'},
        {'lga_id': '50840', 'lga_name': 'Bridgetown-Greenbushes - WA'},
        {'lga_id': '50910', 'lga_name': 'Brookton - WA'},
        {'lga_id': '50980', 'lga_name': 'Broome - WA'},
        {'lga_id': '51080', 'lga_name': 'Broomehill-Tambellup - WA'},
        {'lga_id': '51120', 'lga_name': 'Bruce Rock - WA'},
        {'lga_id': '51190', 'lga_name': 'Bunbury - WA'},
        {'lga_id': '51260', 'lga_name': 'Busselton - WA'},
        {'lga_id': '51310', 'lga_name': 'Cambridge - WA'},
        {'lga_id': '51330', 'lga_name': 'Canning - WA'},
        {'lga_id': '51400', 'lga_name': 'Capel - WA'},
        {'lga_id': '51470', 'lga_name': 'Carnamah - WA'},
        {'lga_id': '51540', 'lga_name': 'Carnarvon - WA'},
        {'lga_id': '51610', 'lga_name': 'Chapman Valley - WA'},
        {'lga_id': '51680', 'lga_name': 'Chittering - WA'},
        {'lga_id': '51710', 'lga_name': 'Christmas Island - WA'},
        {'lga_id': '51750', 'lga_name': 'Claremont - WA'},
        {'lga_id': '51820', 'lga_name': 'Cockburn - WA'},
        {'lga_id': '51860', 'lga_name': 'Cocos Islands - WA'},
        {'lga_id': '51890', 'lga_name': 'Collie - WA'},
        {'lga_id': '51960', 'lga_name': 'Coolgardie - WA'},
        {'lga_id': '52030', 'lga_name': 'Coorow - WA'},
        {'lga_id': '52100', 'lga_name': 'Corrigin - WA'},
        {'lga_id': '52170', 'lga_name': 'Cottesloe - WA'},
        {'lga_id': '52240', 'lga_name': 'Cranbrook - WA'},
        {'lga_id': '52310', 'lga_name': 'Cuballing - WA'},
        {'lga_id': '52380', 'lga_name': 'Cue - WA'},
        {'lga_id': '52450', 'lga_name': 'Cunderdin - WA'},
        {'lga_id': '52520', 'lga_name': 'Dalwallinu - WA'},
        {'lga_id': '52590', 'lga_name': 'Dandaragan - WA'},
        {'lga_id': '52660', 'lga_name': 'Dardanup - WA'},
        {'lga_id': '52730', 'lga_name': 'Denmark - WA'},
        {'lga_id': '52800', 'lga_name': 'Derby-West Kimberley - WA'},
        {'lga_id': '52870', 'lga_name': 'Donnybrook-Balingup - WA'},
        {'lga_id': '52940', 'lga_name': 'Dowerin - WA'},
        {'lga_id': '53010', 'lga_name': 'Dumbleyung - WA'},
        {'lga_id': '53080', 'lga_name': 'Dundas - WA'},
        {'lga_id': '53150', 'lga_name': 'East Fremantle - WA'},
        {'lga_id': '53220', 'lga_name': 'East Pilbara - WA'},
        {'lga_id': '53290', 'lga_name': 'Esperance - WA'},
        {'lga_id': '53360', 'lga_name': 'Exmouth - WA'},
        {'lga_id': '53430', 'lga_name': 'Fremantle - WA'},
        {'lga_id': '53570', 'lga_name': 'Gingin - WA'},
        {'lga_id': '53640', 'lga_name': 'Gnowangerup - WA'},
        {'lga_id': '53710', 'lga_name': 'Goomalling - WA'},
        {'lga_id': '53780', 'lga_name': 'Gosnells - WA'},
        {'lga_id': '53800', 'lga_name': 'Greater Geraldton - WA'},
        {'lga_id': '53920', 'lga_name': 'Halls Creek - WA'},
        {'lga_id': '53990', 'lga_name': 'Harvey - WA'},
        {'lga_id': '54060', 'lga_name': 'Irwin - WA'},
        {'lga_id': '54130', 'lga_name': 'Jerramungup - WA'},
        {'lga_id': '54170', 'lga_name': 'Joondalup - WA'},
        {'lga_id': '54200', 'lga_name': 'Kalamunda - WA'},
        {'lga_id': '54280', 'lga_name': 'Kalgoorlie/Boulder - WA'},
        {'lga_id': '54310', 'lga_name': 'Karratha - WA'},
        {'lga_id': '54340', 'lga_name': 'Katanning - WA'},
        {'lga_id': '54410', 'lga_name': 'Kellerberrin - WA'},
        {'lga_id': '54480', 'lga_name': 'Kent - WA'},
        {'lga_id': '54550', 'lga_name': 'Kojonup - WA'},
        {'lga_id': '54620', 'lga_name': 'Kondinin - WA'},
        {'lga_id': '54690', 'lga_name': 'Koorda - WA'},
        {'lga_id': '54760', 'lga_name': 'Kulin - WA'},
        {'lga_id': '54830', 'lga_name': 'Kwinana - WA'},
        {'lga_id': '54900', 'lga_name': 'Lake Grace - WA'},
        {'lga_id': '54970', 'lga_name': 'Laverton - WA'},
        {'lga_id': '55040', 'lga_name': 'Leonora - WA'},
        {'lga_id': '55110', 'lga_name': 'Mandurah - WA'},
        {'lga_id': '55180', 'lga_name': 'Manjimup - WA'},
        {'lga_id': '55250', 'lga_name': 'Meekatharra - WA'},
        {'lga_id': '55320', 'lga_name': 'Melville - WA'},
        {'lga_id': '55390', 'lga_name': 'Menzies - WA'},
        {'lga_id': '55460', 'lga_name': 'Merredin - WA'},
        {'lga_id': '55530', 'lga_name': 'Mingenew - WA'},
        {'lga_id': '55600', 'lga_name': 'Moora - WA'},
        {'lga_id': '55670', 'lga_name': 'Morawa - WA'},
        {'lga_id': '55740', 'lga_name': 'Mosman Park - WA'},
        {'lga_id': '55810', 'lga_name': 'Mount Magnet - WA'},
        {'lga_id': '55880', 'lga_name': 'Mount Marshall - WA'},
        {'lga_id': '55950', 'lga_name': 'Mukinbudin - WA'},
        {'lga_id': '56090', 'lga_name': 'Mundaring - WA'},
        {'lga_id': '56160', 'lga_name': 'Murchison - WA'},
        {'lga_id': '56230', 'lga_name': 'Murray - WA'},
        {'lga_id': '56300', 'lga_name': 'Nannup - WA'},
        {'lga_id': '56370', 'lga_name': 'Narembeen - WA'},
        {'lga_id': '56460', 'lga_name': 'Narrogin - WA'},
        {'lga_id': '56580', 'lga_name': 'Nedlands - WA'},
        {'lga_id': '56620', 'lga_name': 'Ngaanyatjarraku - WA'},
        {'lga_id': '56730', 'lga_name': 'Northam - WA'},
        {'lga_id': '56790', 'lga_name': 'Northampton - WA'},
        {'lga_id': '56860', 'lga_name': 'Nungarin - WA'},
        {'lga_id': '56930', 'lga_name': 'Peppermint Grove - WA'},
        {'lga_id': '57000', 'lga_name': 'Perenjori - WA'},
        {'lga_id': '57080', 'lga_name': 'Perth - WA'},
        {'lga_id': '57140', 'lga_name': 'Pingelly - WA'},
        {'lga_id': '57210', 'lga_name': 'Plantagenet - WA'},
        {'lga_id': '57280', 'lga_name': 'Port Hedland - WA'},
        {'lga_id': '57350', 'lga_name': 'Quairading - WA'},
        {'lga_id': '57420', 'lga_name': 'Ravensthorpe - WA'},
        {'lga_id': '57490', 'lga_name': 'Rockingham - WA'},
        {'lga_id': '57630', 'lga_name': 'Sandstone - WA'},
        {'lga_id': '57700', 'lga_name': 'Serpentine-Jarrahdale - WA'},
        {'lga_id': '57770', 'lga_name': 'Shark Bay - WA'},
        {'lga_id': '57840', 'lga_name': 'South Perth - WA'},
        {'lga_id': '57910', 'lga_name': 'Stirling - WA'},
        {'lga_id': '57980', 'lga_name': 'Subiaco - WA'},
        {'lga_id': '58050', 'lga_name': 'Swan - WA'},
        {'lga_id': '58190', 'lga_name': 'Tammin - WA'},
        {'lga_id': '58260', 'lga_name': 'Three Springs - WA'},
        {'lga_id': '58330', 'lga_name': 'Toodyay - WA'},
        {'lga_id': '58400', 'lga_name': 'Trayning - WA'},
        {'lga_id': '58470', 'lga_name': 'Upper Gascoyne - WA'},
        {'lga_id': '58510', 'lga_name': 'Victoria Park - WA'},
        {'lga_id': '58540', 'lga_name': 'Victoria Plains - WA'},
        {'lga_id': '58570', 'lga_name': 'Vincent - WA'},
        {'lga_id': '58610', 'lga_name': 'Wagin - WA'},
        {'lga_id': '58680', 'lga_name': 'Wandering - WA'},
        {'lga_id': '58760', 'lga_name': 'Wanneroo - WA'},
        {'lga_id': '58820', 'lga_name': 'Waroona - WA'},
        {'lga_id': '58890', 'lga_name': 'West Arthur - WA'},
        {'lga_id': '59030', 'lga_name': 'Westonia - WA'},
        {'lga_id': '59100', 'lga_name': 'Wickepin - WA'},
        {'lga_id': '59170', 'lga_name': 'Williams - WA'},
        {'lga_id': '59250', 'lga_name': 'Wiluna - WA'},
        {'lga_id': '59310', 'lga_name': 'Wongan-Ballidu - WA'},
        {'lga_id': '59320', 'lga_name': 'Woodanilling - WA'},
        {'lga_id': '59330', 'lga_name': 'Wyalkatchem - WA'},
        {'lga_id': '59340', 'lga_name': 'Wyndham-East Kimberley - WA'},
        {'lga_id': '59350', 'lga_name': 'Yalgoo - WA'},
        {'lga_id': '59360', 'lga_name': 'Yilgarn - WA'},
        {'lga_id': '59370', 'lga_name': 'York - WA'},
        {'lga_id': '59499', 'lga_name': 'No usual address - WA'},
        {'lga_id': '59799', 'lga_name': 'Migratory - Offshore - Shipping - WA'},
        {'lga_id': '60210', 'lga_name': "Break O'Day - TAS"},
        {'lga_id': '60410', 'lga_name': 'Brighton - TAS'},
        {'lga_id': '60610', 'lga_name': 'Burnie - TAS'},
        {'lga_id': '60810', 'lga_name': 'Central Coast - TAS'},
        {'lga_id': '61010', 'lga_name': 'Central Highlands - TAS'},
        {'lga_id': '61210', 'lga_name': 'Circular Head - TAS'},
        {'lga_id': '61410', 'lga_name': 'Clarence - TAS'},
        {'lga_id': '61510', 'lga_name': 'Derwent Valley - TAS'},
        {'lga_id': '61610', 'lga_name': 'Devonport - TAS'},
        {'lga_id': '61810', 'lga_name': 'Dorset - TAS'},
        {'lga_id': '62010', 'lga_name': 'Flinders - TAS'},
        {'lga_id': '62210', 'lga_name': 'George Town - TAS'},
        {'lga_id': '62410', 'lga_name': 'Glamorgan/Spring Bay - TAS'},
        {'lga_id': '62610', 'lga_name': 'Glenorchy - TAS'},
        {'lga_id': '62810', 'lga_name': 'Hobart - TAS'},
        {'lga_id': '63010', 'lga_name': 'Huon Valley - TAS'},
        {'lga_id': '63210', 'lga_name': 'Kentish - TAS'},
        {'lga_id': '63410', 'lga_name': 'King Island - TAS'},
        {'lga_id': '63610', 'lga_name': 'Kingborough - TAS'},
        {'lga_id': '63810', 'lga_name': 'Latrobe - TAS'},
        {'lga_id': '64010', 'lga_name': 'Launceston - TAS'},
        {'lga_id': '64210', 'lga_name': 'Meander Valley - TAS'},
        {'lga_id': '64610', 'lga_name': 'Northern Midlands - TAS'},
        {'lga_id': '64810', 'lga_name': 'Sorell - TAS'},
        {'lga_id': '65010', 'lga_name': 'Southern Midlands - TAS'},
        {'lga_id': '65210', 'lga_name': 'Tasman - TAS'},
        {'lga_id': '65410', 'lga_name': 'Waratah/Wynyard - TAS'},
        {'lga_id': '65610', 'lga_name': 'West Coast - TAS'},
        {'lga_id': '65810', 'lga_name': 'West Tamar - TAS'},
        {'lga_id': '69499', 'lga_name': 'No usual address - TAS'},
        {'lga_id': '69799', 'lga_name': 'Migratory - Offshore - Shipping - TAS'},
        {'lga_id': '70200', 'lga_name': 'Alice Springs - NT'},
        {'lga_id': '70420', 'lga_name': 'Barkly - NT'},
        {'lga_id': '70540', 'lga_name': 'Belyuen - NT'},
        {'lga_id': '70620', 'lga_name': 'Central Desert - NT'},
        {'lga_id': '70700', 'lga_name': 'Coomalie - NT'},
        {'lga_id': '71000', 'lga_name': 'Darwin - NT'},
        {'lga_id': '71150', 'lga_name': 'Darwin Waterfront Precinct - NT'},
        {'lga_id': '71300', 'lga_name': 'East Arnhem - NT'},
        {'lga_id': '72200', 'lga_name': 'Katherine - NT'},
        {'lga_id': '72300', 'lga_name': 'Litchfield - NT'},
        {'lga_id': '72330', 'lga_name': 'MacDonnell - NT'},
        {'lga_id': '72800', 'lga_name': 'Palmerston - NT'},
        {'lga_id': '73600', 'lga_name': 'Roper Gulf - NT'},
        {'lga_id': '74050', 'lga_name': 'Tiwi Islands - NT'},
        {'lga_id': '74550', 'lga_name': 'Victoria Daly - NT'},
        {'lga_id': '74560', 'lga_name': 'Wagait - NT'},
        {'lga_id': '74660', 'lga_name': 'West Arnhem - NT'},
        {'lga_id': '74680', 'lga_name': 'West Daly - NT'},
        {'lga_id': '79399', 'lga_name': 'Unincorporated NT'},
        {'lga_id': '79499', 'lga_name': 'No usual address - NT'},
        {'lga_id': '79799', 'lga_name': 'Migratory - Offshore - Shipping - NT'},
        {'lga_id': '89399', 'lga_name': 'Unincorporated - ACT'},
        {'lga_id': '89499', 'lga_name': 'No usual address - ACT'},
        {'lga_id': '89799', 'lga_name': 'Migratory - Offshore - Shipping - ACT'},
    ]
    // Create LGA options
    var lga_list = document.getElementById("lga_list");
    LGA.forEach(function(item) {
        var lga_option = document.createElement("option");
        lga_option.value = item.lga_name;
        lga_option.setAttribute("data-id", item.lga_id);
        lga_list.appendChild(lga_option)
    });
</script>